In [539]:
import pandas as pd
import datetime as dt
import numpy as np

import ta
#import talib

from oandapyV20 import API
from oandapyV20.contrib.factories import InstrumentsCandlesFactory
import oandapyV20.endpoints.forexlabs as labs
# https://media.readthedocs.org/pdf/oanda-api-v20/latest/oanda-api-v20.pdf
# https://financetrain.com/best-python-librariespackages-finance-financial-data-scientists/
# https://github.com/mrjbq7/ta-lib

from sklearn import tree
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
client = API(access_token='7f736aabc877f3ea75bc844c79814d7c-998e41725285ea6d54b836e8b93fe4f6')

In [437]:
def hist(api, instrument, start_days, end_days, granularity):

    start_date = (dt.datetime.now()-dt.timedelta(days=start_days)).strftime('%Y-%m-%dT%H:%M:%SZ')
    end_date = (dt.datetime.now()-dt.timedelta(days=end_days, hours=2,minutes=4)).strftime('%Y-%m-%dT%H:%M:%SZ')

    params ={
                "from": start_date,
                "to": end_date,
                "granularity":granularity,
            }

    df_list = []
    for r in InstrumentsCandlesFactory(instrument=instrument,params=params):
        api.request(r)
        df = pd.DataFrame(r.response['candles'])
        if(df.empty==False):
            time = df['time']
            volume = pd.DataFrame(df['volume'].apply(pd.Series))
            df = pd.DataFrame(df['mid'].apply(pd.Series))
            df = pd.concat([df,time,volume], axis=1)
            df['time'] = pd.to_datetime(df['time'], format='%Y-%m-%dT%H:%M:%S.000000000Z')
            #df.set_index('time',inplace=True)
            df_list.append(df)
    
    final = pd.concat(df_list)
    
    names = {
        'o': 'open',
        'c': 'close',
        'h': 'high',
        'l': 'low',
        0: 'vol',
        'time': 'time',
    }
    new_names = []
    for column_name in final.columns:
        new_names.append(names[column_name])
    final.columns = new_names
    
    return final

In [438]:
def cal(client, instrument, perdiod):

    
    
    params = {
        "instrument": instrument,
        "period": perdiod
    }
    
    # PERIOD VALUES
    #3600 - 1 hour
    #43200 - 12 hours
    #86400 - 1 day
    #604800 - 1 week
    #2592000 - 1 month
    #7776000 - 3 months
    #15552000 - 6 months
    #31536000 - 1 year
    # http://developer.oanda.com/rest-live/forex-labs/

    r = labs.Calendar(params=params)
    client.request(r)
    
    df = pd.DataFrame.from_dict(r.response, orient='columns')
    
    df['timestamp'] = pd.to_datetime(df['timestamp']*1000000000)
    df = df[['impact', 'timestamp']]
    df.columns = ['impact', 'time']

    return df.groupby('time').sum().reset_index()

In [439]:
def merge(history, calendar):
    return pd.merge(history, calendar, left_on = 'time', right_on = 'time', how='outer')\
                                                                            .set_index('time')\
                                                                            .astype(float)\
                                                                            .fillna(0)

In [614]:
def add_ta(df):
    df = ta.add_all_ta_features(df, "open", "high", "low", "close", "vol", fillna=False)
    
    for feature in df.drop(["open", "high", "low", "close", "vol", "impact"], axis=1).columns.tolist():
        df[feature+"_change"] = (df[feature] - df[feature].shift(1)) / df[feature].shift(1)
        df = df.drop(feature, axis=1)
        
    df = df.replace([np.inf, -np.inf], np.nan)\
            .dropna(axis=1, thresh=len(df) - 50)\
            .iloc[100:]
    
    return df

In [615]:
calendar = cal(client, 'EUR_USD', 2592000)

In [604]:
history = hist(client, 'EUR_USD', 30, 0, 'M5')

In [605]:
merged = merge(history, calendar)

In [606]:
len(merged)

5656

In [607]:
len(merged[merged.index.duplicated(keep=False) == True])

26

In [608]:
merged = merged[merged.index.duplicated(keep='first') == False]

In [616]:
with_ta = add_ta(merged)

/Users/jacekslusarczyk/anaconda3/lib/python3.6/site-packages/ta/trend.py:170: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (dip_mio[i]/trs[i])
/Users/jacekslusarczyk/anaconda3/lib/python3.6/site-packages/ta/trend.py:174: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (din_mio[i]/trs[i])
/Users/jacekslusarczyk/anaconda3/lib/python3.6/site-packages/ta/trend.py:634: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  aroon_up = close.rolling(n).apply(lambda x: float(np.argmax(x) + 1) / n * 100)
/Users/jacekslusarczyk/anaconda3/lib/python3.6/site-packages/ta/trend.py:656: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  aroon_down = close.rolling(n).apply(lambda x: float(np.argmin(x) + 1) / n * 100)

In [617]:
len(with_ta)

5543

In [618]:
# check ta indicators
with_ta.head()

,open,high,low,close,vol,impact,volume_obvm_change,volume_cmf_change,volume_em_change,volume_vpt_change,...,trend_aroon_down_change,trend_aroon_ind_change,momentum_rsi_change,momentum_mfi_change,momentum_tsi_change,momentum_uo_change,momentum_stoch_signal_change,momentum_ao_change,others_cr_change,volume_adi_change_change
time,,,,,,,,,,,,,,,,,,,,,
2018-12-31 06:20:00,1.14310,1.14321,1.14298,1.14308,33.0,0.0,-0.056000,0.305595,-0.233196,-1.123400,...,-0.111111,-0.125000,-0.024627,-0.121320,-0.061458,-0.079296,-0.024506,-0.520127,0.034483,8.003849
2018-12-31 06:25:00,1.14308,1.14308,1.14284,1.14299,66.0,0.0,-0.822034,0.676424,-0.141420,6.500135,...,-0.125000,-3.142857,-0.113375,-0.058996,-0.046976,0.002506,-0.087380,-1.003050,0.150000,-1.454928
2018-12-31 06:30:00,1.14298,1.14302,1.14264,1.14278,82.0,0.0,-5.952381,0.018635,-0.312160,2.509302,...,-0.142857,0.000000,-0.233858,-0.145163,-0.016150,-0.086293,-0.177456,172.000000,0.304348,-4.818272
2018-12-31 06:35:00,1.14278,1.14280,1.14249,1.14280,46.0,0.0,-0.221154,0.447562,-0.408953,-0.296193,...,-0.166667,0.000000,0.032830,0.062304,-0.018283,0.155828,-0.148148,-0.889210,-0.022222,3.100581
2018-12-31 06:40:00,1.14284,1.14306,1.14282,1.14302,37.0,0.0,-0.160494,-0.114707,2.104264,-1.555927,...,-0.200000,0.000000,0.298431,0.120451,-0.057914,0.045375,0.018634,1.052174,-0.250000,-1.326030

In [619]:
with_ta.iloc[-1]

open                             1.141660
high                             1.141840
low                              1.141660
close                            1.141800
vol                             62.000000
impact                           0.000000
volume_obvm_change              -1.456790
volume_cmf_change               -0.284434
volume_em_change                 0.249609
volume_vpt_change               -0.951819
volume_nvi_change                0.000149
volatility_atr_change           -0.031718
volatility_bbh_change            0.000021
volatility_bbl_change           -0.000010
volatility_bbm_change            0.000005
volatility_kcc_change            0.000050
volatility_kch_change            0.000036
volatility_kcl_change            0.000064
volatility_dch_change            0.000070
volatility_dcl_change            0.000000
trend_macd_change                0.324294
trend_macd_signal_change         0.172218
trend_macd_diff_change           0.699469
trend_ema_fast_change            0.000050
trend_ema_slow_change            0.000029
trend_adx_change                 0.024332
trend_adx_pos_change            -0.041011
trend_adx_neg_change            -0.041011
trend_vortex_ind_pos_change      0.009301
trend_vortex_ind_neg_change     -0.096482
trend_vortex_diff_change         0.375763
trend_trix_change                0.150394
trend_mass_index_change         -0.008086
trend_cci_change                 0.163578
trend_dpo_change                -0.541176
trend_kst_change                 4.440629
trend_ichimoku_a_change          0.000007
trend_aroon_up_change           -0.500000
trend_aroon_down_change         -0.090909
trend_aroon_ind_change          -0.000000
momentum_rsi_change              0.077497
momentum_mfi_change             -0.011292
momentum_tsi_change              0.080852
momentum_uo_change              -0.038079
momentum_stoch_signal_change     0.235252
momentum_ao_change               0.059162
others_cr_change                -0.082927
volume_adi_change_change        -5.307323
Name: 2019-01-28 13:10:00, dtype: float64

In [620]:
def broaden_impact(with_ta):
    for impact in with_ta[with_ta['impact'] != 0].index:
        date = impact.date()
        hour = impact.hour

        with_ta.loc[(with_ta.index.date == date) & ((with_ta.index.hour == hour) | (with_ta.index.hour == hour -1)), 'impact_broaden'] = 1
    with_ta.loc[with_ta['impact_broaden'].isna(), 'impact_broaden'] = 0
    
    return with_ta

In [621]:
with_ta_and_impact = broaden_impact(with_ta)

In [622]:
def add_sessions(df):
    df.loc[df.index.hour.isin([7,8,9,10,11,12,13,14,15,16]), 'eu_session'] = 1
    df.loc[df['eu_session'] != 1, 'eu_session'] = 0

    df.loc[df.index.hour.isin([21,22,23,24,1,2,3,4,5,6,7]), 'asia_session'] = 1
    df.loc[df['asia_session'] != 1, 'asia_session'] = 0

    df.loc[df.index.hour.isin([12,13,14,15,16,17,18,19,20]), 'us_session'] = 1
    df.loc[df['us_session'] != 1, 'us_session'] = 0
    
    return df

In [623]:
with_ta_impact_sessions = add_sessions(with_ta_and_impact)

In [624]:
def add_change(df):
    df['change_5'] = (df['close'].shift(-5) - df['close']) * 100/ df['close']
    df['change_10'] = (df['close'].shift(-10) - df['close']) * 100/ df['close']
    df['change_15'] = (df['close'].shift(-15) - df['close']) * 100/ df['close']
    
    return df

In [625]:
with_ta_impact_sessions_change = add_change(with_ta_impact_sessions)

In [626]:
def label(df):
    df.loc[df['change_5'] > 0.03,'label_5'] = 2
    df.loc[df['change_5'] < -0.03,'label_5'] = 1
    df.loc[df['label_5'].isna(),'label_5'] = 0

    df.loc[df['change_10'] > 0.03,'label_10'] = 2
    df.loc[df['change_10'] < -0.03,'label_10'] = 1
    df.loc[df['label_10'].isna(),'label_10'] = 0

    df.loc[df['change_15'] > 0.03,'label_15'] = 2
    df.loc[df['change_15'] < -0.03,'label_15'] = 1
    df.loc[df['label_15'].isna(),'label_15'] = 0
    
    df = df.drop(['close', 'open', 'change_5', 'change_10', 'change_15'], axis=1)
    
    return df

In [627]:
labeled = label(with_ta_impact_sessions_change)

In [628]:
len(labeled)/12 # hours

461.9166666666667

In [629]:
len(labeled)/12/24 # days

19.24652777777778

In [630]:
labeled.head()

,high,low,vol,impact,volume_obvm_change,volume_cmf_change,volume_em_change,volume_vpt_change,volume_nvi_change,volatility_atr_change,...,momentum_ao_change,others_cr_change,volume_adi_change_change,impact_broaden,eu_session,asia_session,us_session,label_5,label_10,label_15
time,,,,,,,,,,,,,,,,,,,,,
2018-12-31 06:20:00,1.14321,1.14298,33.0,0.0,-0.056000,0.305595,-0.233196,-1.123400,0.000000,0.010066,...,-0.520127,0.034483,8.003849,0.0,0.0,1.0,0.0,0.0,1.0,2.0
2018-12-31 06:25:00,1.14308,1.14284,66.0,0.0,-0.822034,0.676424,-0.141420,6.500135,0.000000,0.012762,...,-1.003050,0.150000,-1.454928,0.0,0.0,1.0,0.0,1.0,0.0,2.0
2018-12-31 06:30:00,1.14302,1.14264,82.0,0.0,-5.952381,0.018635,-0.312160,2.509302,0.000000,0.060193,...,172.000000,0.304348,-4.818272,0.0,0.0,1.0,0.0,0.0,2.0,2.0
2018-12-31 06:35:00,1.14280,1.14249,46.0,0.0,-0.221154,0.447562,-0.408953,-0.296193,0.000018,0.029851,...,-0.889210,-0.022222,3.100581,0.0,0.0,1.0,0.0,0.0,2.0,2.0
2018-12-31 06:40:00,1.14306,1.14282,37.0,0.0,-0.160494,-0.114707,2.104264,-1.555927,0.000193,0.011053,...,1.052174,-0.250000,-1.326030,0.0,0.0,1.0,0.0,1.0,0.0,2.0

In [631]:
def filter_data(df):
    # friday evening
    df = df[~((df.index.dayofweek == 4) & (df.index.hour >= 16))]
    # calendar
    df = df[df['impact_broaden'] != 1]
    # monday's morning
    df = df[~((df.index.dayofweek == 0) &( df.index.hour < 7))]
    
    return df

In [632]:
filtered = filter_data(labeled)

In [633]:
def add_day_counter(df):
    for i, date in enumerate(sorted(list(set(df.index.date)))):
        df.loc[df.index.date == date ,'day_index'] = i
        
    df['weekday'] = df.index.dayofweek.values
    
    return df

In [634]:
final = add_day_counter(filtered)

In [635]:
final = final.astype('double')

In [641]:
final = final.dropna(axis=1, how='any')

In [646]:
for i in range(len(final['day_index'].unique()) - 3):
    
    train_df = final[(final['day_index'] >= i) & (final['day_index'] < (i+3))]
    train_Y = train_df['label_5'].values.tolist()
    train_X = train_df.drop(['high', 'low', 'vol', 'impact', 'label_5', 'label_10', 'label_15','day_index'], axis=1).values
    
    test_df = final[final['day_index'] == i]
    test_Y = test_df['label_5'].values.tolist()
    test_X = test_df.drop(['high', 'low', 'vol', 'impact', 'label_5', 'label_10', 'label_15','day_index'], axis=1).values
    
    
    clf = ExtraTreesClassifier(n_estimators=30)
    clf = clf.fit(train_X, train_Y)

    # pick only those features (technical indicators) which hase at least mean influence on y label
    model = SelectFromModel(clf, prefit=True, threshold="mean")
    
    train_X = train_X[:, model.get_support()]
    test_X = test_X[:, model.get_support()]
    
    df_list = []
    for criterion in ['entropy','gini']:
        for max_depth in [4,6,8]:
            for min_samples_leaf in [10]:
                clf = tree.DecisionTreeClassifier(criterion=criterion,
                                     max_depth=max_depth,
                                     min_samples_leaf=min_samples_leaf)
                clf.fit(train_X, train_Y)
                score = clf.score(test_X, test_Y)

                row = []
                row.append(i)
                row.append(score)
                row.append(criterion)
                row.append(max_depth)
                row.append(min_samples_leaf)
                row.append(clf)
                df_list.append(row)
    
    break

In [647]:
scores = pd.DataFrame(df_list, columns=['day_index','score','criterion','max_depth','min_samples_leaf','clf'])\
    .sort_values(by='score', ascending=False)

In [648]:
scores.head(10)

,day_index,score,criterion,max_depth,min_samples_leaf,clf
5,0,0.711111,gini,8,10,"DecisionTreeClassifier(class_weight=None, crit..."
2,0,0.688889,entropy,8,10,"DecisionTreeClassifier(class_weight=None, crit..."
1,0,0.644444,entropy,6,10,"DecisionTreeClassifier(class_weight=None, crit..."
4,0,0.633333,gini,6,10,"DecisionTreeClassifier(class_weight=None, crit..."
3,0,0.538889,gini,4,10,"DecisionTreeClassifier(class_weight=None, crit..."
0,0,0.511111,entropy,4,10,"DecisionTreeClassifier(class_weight=None, crit..."

In [ ]:
# TODO


# divide into smaller dataframes ???

# for each learning period train model and check acc
# so if learning period is one week repeat process every day

# pick the most stable and profitable model - not appliable kurwa xD
# how to measure success???
# if not profitable, change parameters - which ones???