In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
from oandapyV20 import API
from oandapyV20.contrib.factories import InstrumentsCandlesFactory
import oandapyV20.endpoints.forexlabs as labs

In [3]:
orders = pd.concat([
    pd.read_csv('order_book/january.csv'),
    pd.read_csv('order_book/january_missing.csv'),
    pd.read_csv('order_book/february.csv'),
    pd.read_csv('order_book/march.csv'),
])

In [4]:
positions = pd.concat([
    pd.read_csv('position_book/january.csv'),
    pd.read_csv('position_book/february.csv'),
    pd.read_csv('position_book/march.csv'),
])

In [5]:
def hist(api, instrument, start_days, end_days, granularity):

    start_date = (dt.datetime.now()-dt.timedelta(days=start_days)).strftime('%Y-%m-%dT%H:%M:%SZ')
    end_date = (dt.datetime.now()-dt.timedelta(days=end_days, hours=2,minutes=4)).strftime('%Y-%m-%dT%H:%M:%SZ')

    params ={
                "from": start_date,
                "to": end_date,
                "granularity":granularity,
            }

    df_list = []
    for r in InstrumentsCandlesFactory(instrument=instrument,params=params):
        api.request(r)
        df = pd.DataFrame(r.response['candles'])
        if(df.empty==False):
            time = df['time']
            volume = pd.DataFrame(df['volume'].apply(pd.Series))
            df = pd.DataFrame(df['mid'].apply(pd.Series))
            df = pd.concat([df,time,volume], axis=1)
            df['time'] = pd.to_datetime(df['time'], format='%Y-%m-%dT%H:%M:%S.000000000Z')
            #df.set_index('time',inplace=True)
            df_list.append(df)
    
    final = pd.concat(df_list)
    
    names = {
        'o': 'open',
        'c': 'close',
        'h': 'high',
        'l': 'low',
        0: 'vol',
        'time': 'time',
    }
    new_names = []
    for column_name in final.columns:
        new_names.append(names[column_name])
    final.columns = new_names
    
    return final

In [6]:
def cal(client, instrument, perdiod):

    
    
    params = {
        "instrument": instrument,
        "period": perdiod
    }
    
    # PERIOD VALUES
    #3600 - 1 hour
    #43200 - 12 hours
    #86400 - 1 day
    #604800 - 1 week
    #2592000 - 1 month
    #7776000 - 3 months
    #15552000 - 6 months
    #31536000 - 1 year
    # http://developer.oanda.com/rest-live/forex-labs/

    r = labs.Calendar(params=params)
    client.request(r)
    
    df = pd.DataFrame.from_dict(r.response, orient='columns')
    
    df['timestamp'] = pd.to_datetime(df['timestamp']*1000000000)
    df = df[['impact', 'timestamp']]
    df.columns = ['impact', 'time']

    return df.groupby('time').sum().reset_index()

In [7]:
def merge(history, calendar):
    return pd.merge(history, calendar, left_on = 'time', right_on = 'time', how='outer')\
                                                                            .set_index('time')\
                                                                            .astype(float)\
                                                                            .fillna(0)

In [8]:
def broaden_impact(df, period):
    df = df.reset_index().sort_values('time').set_index('time')

    for i in range(periods):
        df.loc[
            (df['impact'].shift(-1-i) != 0)
        ,'impact'] = df['impact'].shift(-1-i)
    
    df['impact'] = df['impact'].fillna(0)

    return df[df['low'] != 0]

In [9]:
client = API(access_token='3cf916fab91f55a904250b95078a6851-27cefccf52cf1a0aead8d8385376e890')

In [10]:
granularity_param = 'M5'

In [11]:
calendar = cal(client, 'EUR_USD', 7776000)

In [12]:
history = hist(client, 'EUR_USD', 90, 0, granularity_param)

In [13]:
merged = merge(history, calendar)

In [14]:
merged.head(1)

                        open     high      low    close    vol  impact
time
2019-01-02 19:20:00  1.13321  1.13325  1.13292  1.13307  104.0     0.0

In [15]:
orders.head(1)

,Unnamed: 0,time,price,roundedPrice,level_0_l,level_0_s,level_1_up_l,level_1_up_s,level_1_down_l,level_1_down_s,...,level_3_down_l,level_3_down_s,level_4_up_l,level_4_up_s,level_4_down_l,level_4_down_s,level_5_up_l,level_5_up_s,level_5_down_l,level_5_down_s
0,0,2019-01-03T15:40:00Z,1.13998,1.14,0.0065,0.0978,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0

In [16]:
positions.head(1)

,Unnamed: 0,time,price,roundedPrice,level_0_l,level_0_s,level_1_up_l,level_1_up_s,level_1_down_l,level_1_down_s,...,level_3_down_l,level_3_down_s,level_4_up_l,level_4_up_s,level_4_down_l,level_4_down_s,level_5_up_l,level_5_up_s,level_5_down_l,level_5_down_s
0,0,2019-01-01T00:00:00Z,1.14649,1.1465,0.3569,0.1814,0.272,0.0848,0.272,0.0848,...,0.1463,0.0936,0.0,0.0,0.0,0.0,0,0,0,0

In [17]:
orders = orders.set_index(pd.to_datetime(orders['time'], format="%Y-%m-%dT%H:%M:%SZ"))

In [18]:
ordersNewColumns = []
for column in orders.columns:
    ordersNewColumns.append(column+'_orders')

In [19]:
orders.columns = ordersNewColumns

In [20]:
positions = positions.set_index(pd.to_datetime(positions['time'], format="%Y-%m-%dT%H:%M:%SZ"))

In [21]:
positionsNewColumns = []
for column in positions.columns:
    positionsNewColumns.append(column+'_positions')

In [22]:
positions.columns = positionsNewColumns

In [23]:
base = merged.join(orders).join(positions)\
    .dropna()\
    .drop(['Unnamed: 0_orders', 'Unnamed: 0_positions', 'price_orders',
          'roundedPrice_orders', 'price_positions', 'roundedPrice_positions',
          'time_orders', 'time_positions'], axis = 1)\

In [24]:
base.head(1)

,open,high,low,close,vol,impact,level_0_l_orders,level_0_s_orders,level_1_up_l_orders,level_1_up_s_orders,...,level_3_down_l_positions,level_3_down_s_positions,level_4_up_l_positions,level_4_up_s_positions,level_4_down_l_positions,level_4_down_s_positions,level_5_up_l_positions,level_5_up_s_positions,level_5_down_l_positions,level_5_down_s_positions
time,,,,,,,,,,,,,,,,,,,,,
2019-01-02 19:20:00,1.13321,1.13325,1.13292,1.13307,104.0,0.0,0.0173,0.0173,0.0867,0.0832,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
len(base)/72 # more less number of days

62.40277777777778

In [31]:
base['ma5'] = base['close'].rolling(5).mean()
base['ma10'] = base['close'].rolling(10).mean()
base = base.dropna()

In [160]:
# for starting point
for startingHour in [7]: # ,8,9

    # for ending point
    for endingHour in [15]: # ,11,12,13,14,15,16,17,18
        
        if startingHour < endingHour:
        # prepare dataset, so
            
            # check how there should be candles for both datasets
            firstDatasetCandlesNumber = (startingHour - 6) * 3
            secondDatasetCandlesNumber = (endingHour - startingHour + 1) * 3

            # for each date (day)
            for date in [base.index.date[7]]:
                tmp = base[base.index.date == date]

                # take candles from 6am until starting point as variables
                variableCandles = tmp[(tmp.index.hour >= 6)\
                                      & (tmp.index.hour < startingHour)]

                # take candles for opening period with ma
                openingAndClosingCandles = tmp[(tmp.index.hour >= startingHour)\
                                                & (tmp.index.hour <= endingHour)]


                if\
                    len(variableCandles) == firstDatasetCandlesNumber and\
                    len(openingAndClosingCandles) == secondDatasetCandlesNumber:
                    # create variables:

                    # take price from starting point
                    startingPointPrice = tmp[tmp.index.hour == startingHour]\
                                                .head(1)[['open']]\
                                                .values[0][0]

                    # - price difference between 6am and starting point
                    startingPointPricePlusOneHour = tmp[tmp.index.hour == startingHour + 1]\
                                                .head(1)[['open']]\
                                                .values[0][0]
                    morningDifference = startingPointPricePlusOneHour - startingPointPrice
                    
                    # - order and position book structure

                    # depending on candles during one hour after starting point and ma values
                    # open trades, with maximum number of trades 5

                    # for each stop loss and take profit pair

                        # check outcome

In [161]:
morningDifference

-0.000280000000000058